.ol,
.ol ol {
    counter-reset: item;
}

.ol li {
    display: block;
    position: relative;
}

.ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}