/* Colors taked from [1] https://www.w3schools.com/colors/colors_names.asp 
[2] http://www.workwithcolor.com/color-chart-full-01.htm*/
/* Higher tone background colors*/
.powderblue{background-color:#b0e0e6}
.aquamarine{background-color:#7fffd4;}
.palegreen{background-color:#98fb98;}
.pink{background-color:#ffc0cb;}
.lightsalmon{background-color:#ffa07a;}
.lime{background-color:#bfef45;}
.mint{background-color:#aaffc3;}
.beige{background-color:#fffac8;}
.appricot{background-color:#ffd8b1;}