/* Colors taked from [1] https://www.w3schools.com/colors/colors_names.asp 
[2] http://www.workwithcolor.com/color-chart-full-01.htm*/
/*Low tone background colors*/
.mistyrose{background-color:#ffe4e1;}
.lemonchiffon{background-color:#fffacd;}
.lavenderblush{background-color:#fff0f5;}
.lavender{background-color:#e6e6fa;}
.honeydew{background-color:#f0fff0;}
.lightcyan{background-color:#e0ffff;}
.aliceblue{background-color:#f0f8ff;}
.cornsilk{background-color:#fff8dc;}
.gainsboro{background-color:#dcdcdc;}
.bisque{background-color:#ffe4c4;}
.snow{background-color:#fffafa;}