/* The customised light style for TiddlyFor syntax highlighthing
(highlight.js style)
Apr 19, 2018
Mohammad Rahmani
*/
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #00008C;
}
.hljs-comment{
font-style:normal;
}
.hljs-keyword,
.hljs-built_in {
font-weight:normal;
}